<header>


  <nav class="nsize navbar fixed-top navbar-expand-lg navbar-dark " style="background-color: #85C88A;">

    <a class="navbar-brand" href="/home">Pet Society</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#title">Pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#adopt">Featrured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#donate">Donate</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/donationApprovals">Adoption Request</a>
            <a class="dropdown-item" href="/adoptionApprovals">Donation Request</a>
            <hr>
            <a class="dropdown-item" href="/accountDetails">Account</a>
            <a class="dropdown-item" href="/signout">Log out</a>
          </div>
        </li>
      </ul>
    </div>

  </nav>
</header>
